html {
    background-color: gray;
}
h1 {

    display: flex;
    justify-content: center;
}
form#c-blog
{
    width: 40%;
    
    display: flex;
    padding-left: 30%;
    padding-right: 30%;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    
}

#blog-posts {
    text-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-around;
    width: 80%;
    height: 100%;
    background-color: darkgray;
}
.b-single-post {
    display: flex;
    flex-direction: column;

    width: 50%;
    height: fit-content;
    background-color: gray;
    align-items: center;
    border: 5px solid black;

}
.blog-top {
    display: flex;
    word-wrap: break-word;
    flex-direction: column;
    text-align: center;
    width: 90%;
    min-height: fit-content;
    padding-left: 5%;
    padding-right: 5%;

    background-color: lightblue;
    
}
h2 {
    
    width: 100%;
    font-size: 2em;
    height: fit-content;
    

}
.blog-controls {
    display: flex;
    
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;

}
.blog-body {
    display: flex;
    word-wrap: break-word;
    flex-direction: column;
    text-align: center;
    width: 90%;
    justify-content: space-between;
    padding: 5%;
    align-items: center;
    background-color: gray;

}
.blog-content {
    word-wrap: break-word;
    display: flex;
    flex-direction: row;
    text-align: left;
    max-height: fit-content;
    min-height: 10em;
    width: 90%;
    justify-content: center;
    
    background-color: darkgray;
    padding: 5%;
}
h3 {
    width: 100%;
}
